@model PortfolioHerryWijaya.Models.Domain.Portfolio3.Gacha

@{
    ViewData["Title"] = "Create";
    var gachaItems = ViewBag.GachaItems;
}

<h1>Create</h1>

<h4>Gacha</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="GachaItems" class="control-label"></label>
                <input asp-for="GachaItems" class="form-control" />
                <span asp-validation-for="GachaItems" class="text-danger"></span>
            </div> *@
            @for(int i = 1; i <= 5; i++)
            {
                <div class="row">
                    <div class="col-6">
                        <label  class="control-label">Item@(i)</label>
                        <select class="form-control" name="item@(i)">
                            @foreach(var item in gachaItems)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                        @* <input type="text" class="form-control" name="item@(i)"/> *@
                    </div>
                    <div class="col-6">
                        <label class="control-label">ItemPercentage@(i)</label>
                        <input type="number" class="form-control" name="itempercentage@(i)" />
                    </div>
                </div>
                
            }
         


           @*  <div class="form-group">
                <label asp-for="GachaItemPercentages" class="control-label"></label>
                <input asp-for="GachaItemPercentages" class="form-control" />
                <span asp-validation-for="GachaItemPercentages" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                @* <input asp-for="ImageUrl" class="form-control" /> *@
                <input type="file" name="ImageFile" asp-for="ImageUrl" class="form-control" />

                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
