@using PortfolioHerryWijaya.Models.Domain
@{
    ViewData["Title"] = "Home Page";
}
@model List<Portfolio>
<header>
    <h1>
        Herry Wijaya C#/.NET Developer (herrywijaya065116076@unpak.ac.id)
    </h1>
    <p>
        C# Developer with 1 year of work experience
        using .NET . I'm familiar with SQLServer usage for database operations and both ASP.NET
        WebForm and MVC to build web application. I'm proficient with C# programming language.
    </p>
</header>
<section class="tiles">
    @foreach(var item in Model)
    {
        <article class="style1">
            <span class="image">
                <img src="/phantom/images/@item.ImageUrl" alt="" />
            </span>
            <a asp-action="@item.Link" asp-controller="Portfolios">
                <h2>@item.Title</h2>
                <div class="content">
                    <p>@item.Description</p>
                </div>
            </a>
        </article>
    }
    



</section>